.alertbox{background-color: #000000;
			height: 100%;
			position: absolute;
			width: 100%;
			    
}
.popuparea{
		width: 550px;
		position: absolute;
		z-index: 105;
		background: none repeat scroll 0% 0% rgb(249, 249, 249);
		border: 5px solid black;
		padding: 15px 0px 15px 10px;
		border-radius: 10px 10px 10px 10px;
                left: 50%;
		top: 50%;
}
.close{ float: right;
   margin: -28px -12px 0 0;
   cursor:pointer;    
}