#hdr-ijin, #hdr-hdr, #hdr-blm{
    text-align: center;
    display: block;
    padding-right: 4px;
    padding-left: 4px;
    margin-right: 5px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
#hdr-ijin{
    background-color: red;
    color: #ffffff;
}
#hdr-hdr{
    background-color: green;
    color: #ffffff;
}
#rounded-corner
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 10px;
	width: 95%;
	text-align: left;
	border-collapse: collapse;
}
#rounded-corner th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}
#rounded-corner td
{
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
}
#rounded-corner tfoot td.rounded-foot-left
{
	background: #e8edff url('table-images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
	background: #e8edff url('table-images/botright.png') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
	background: #d0dafd;
}